@page
@using System.Globalization
@using ScheduleManager.Domain.Enums
@model ScheduleManager.Pages.ViewRequestsUserModel
@{
}
@{
    ViewData["page-title"] = "Dashboard";

    ViewData["title"] = "View Requests";
    ViewData["name"] = "Name";
    ViewData["email"] = "Email";
    ViewData["client-name"] = "Client Name";
    ViewData["start-date"] = "Start Date";
    ViewData["end-date"] = "End Date";
    ViewData["location"] = "Client Location";
    ViewData["status"] = "Request status";
    ViewData["action"] = "Action";
    ViewData["modal-cancel-title"] = "Cancel Business Trip";
    ViewData["modal-cancel-text"] = "You are about to cancel the selected business trip. Proceed?";
    ViewData["modal-cancel-yes"] = "Yes";
    ViewData["modal-cancel-no"] = "No";
}

<h1>@ViewData["title"]</h1>
<form id="filterBusinessTrips" method="post">
    <div class="row mt-3">
        <div class="col">
            <label asp-for="SearchCriteria.Location"> Location</label>
            <input asp-for="SearchCriteria.Location" class="form-control" />
        </div>
        <div class="w-100 mt-3"></div>
        <div class="col datepicker" data-provide="datepicker">
            <label asp-for="SearchCriteria.StartDate">Start Date: </label>
            <input asp-for="SearchCriteria.StartDate" type="date" class="date form-control" id="StartDate" />
            <span asp-validation-for="SearchCriteria.StartDate" class="text-danger"></span>
        </div>

        <div class="col datepicker" data-provide="datepicker">
            <label asp-for="SearchCriteria.EndDate">End Date: </label>
            <input asp-for="SearchCriteria.EndDate" type="date" class="date form-control" id="EndDate" />
            <span asp-validation-for="SearchCriteria.EndDate" class="text-danger"></span>
        </div>
        <div class="w-100 mt-3"></div>
        <div class="col">
            <label asp-for="SearchCriteria.Status">Status </label>
            <select class="form-control selectpicker" contenteditable="false" asp-for="SearchCriteria.Status" asp-items="Html.GetEnumSelectList<RequestStatus>()">
            </select>
            <span></span>
        </div>
        <div class="col">
            <label asp-for="SearchCriteria.Client"> Client name</label>
            <input asp-for="SearchCriteria.Client" class="form-control" />
        </div>
        <div class="w-100 mt-3"></div>
        <div class="col">
        </div>
        <form id="searchBusinessTripForm" method="post">
            <div class="col">
                <button class="btn btn-primary my-3 float-right" type="submit" id="searchButton" style="border:none; display:inline-block;" asp-page-handler="Filter">Filter</button>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@ViewData["client-name"]</th>
                            <th>@ViewData["location"]</th>
                            <th>@ViewData["project-name"]</th>
                            <th>@ViewData["start-date"]</th>
                            <th>@ViewData["end-date"]</th>
                            <th data-orderable="false">@ViewData["status"]</th>
                            @if (Model.SearchCriteria == null || Model.SearchCriteria.Status == RequestStatus.Pending)
                            {
                                <th class="text-center" data-orderable="false">@ViewData["action"]</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserTripsRequests)
                        {
                            <tr>
                                <th>@item.Client</th>
                                <th>@item.ClientLocation</th>
                                <td>@item.StartDate.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)</td>
                                <td>@item.EndDate.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)</td>
                                
                                <th>@item.Status</th>
                                @if (@item.Status == RequestStatus.Pending)
                                {
                                    <th class="text-center">
                                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-targer="#exampleModal" onclick="cancelBusinessTrip('@item.Id')">Cancel</button>
                                    </th>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</form>

@*Cancel BT modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewData["modal-cancel-title"]</h5>
            </div>
            <div class="modal-body" style="font-size:18px">
                <p><strong>@ViewData["modal-cancel-text"]</strong></p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="submit" class="btn btn-outline-primary" name="businessTripId">@ViewData["modal-cancel-yes"]</button>
                </form>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">@ViewData["modal-cancel-no"]</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function cancelBusinessTrip(businessTripId) {
        let id = $('#exampleModal').find('button[name="businessTripId"]')
        $(id).attr('formaction', "/ViewRequestsUsers");
        $('#exampleModal').modal('show');
    }
</script>